BUS_PROJECT_URL=test_url
BUS_PROJECT_KEY=test_key

TFL_URL=test_key_tfl
TFL_KEY=test_url_tfl

STOP_CSV_URL=test_url.stops
STOP_CSV_LOCATION=/reliablebuses/etl/src

JOURNEYS_BASIC_UNUPLOADED_CACHE_LOCATION=/reliablebuses/etl/src/journeysLondonBasicUnuploadedCache.db
JOURNEYS_BASIC_INACTIVE_CACHE_LOCATION=/reliablebuses/etl/src/journeysLondonBasicInactiveCache.db
STOPS_BASIC_CACHE_LOCATION=/reliablebuses/etl/src/stopsLondonBasicCache.db
TIMETABLES_BASIC_CACHE_LOCATION=/reliablebuses/etl/src/timetablesLondonBasicCache.db
