BUS_PROJECT_URL=test_url
BUS_PROJECT_KEY=testkey

TFL_URL=test_url_tfl
TFL_KEY=test_key_tfl

STOP_CSV_URL=test_url.stops
STOP_CSV_LOCATION=data

JOURNEYS_BASIC_UNUPLOADED_CACHE_LOCATION=data
JOURNEYS_BASIC_INACTIVE_CACHE_LOCATION=data
STOPS_BASIC_CACHE_LOCATION=data
TIMETABLES_BASIC_CACHE_LOCATION=data

SAVESTATE_LOCATION=data/app_state.pkl