NODE_ENV=production
PORT=8000
DATABASE_PATH=database.db
EMAIL_HOST=hostemail.com
EMAIL_PORT=123
EMAIL_AUTH_USER = auth_user@email.com
EMAIL_AUTH_PASSWORD = password
EMAIL_FROM_NAME=MyService Team <auth_user@email.com>

EMAIL_TO = email_destination@email.com
